<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces User Analyzer</title>
</head>
<body>
    <h1>Codeforces User Analyzer</h1>

    <form method="post" action="/">
        <label for="username">Enter your Codeforces username:</label>
        <input type="text" id="username" name="username" required>

        <button type="submit">Get Info</button>
    </form>

    
</body>
</html>
